<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright 2016 Kiall Mac Innes <kiall@macinnes.ie>

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ie.macinnes.tvheadend">

    <!-- Required to play internet-based streaming contents. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Required to check network connection status. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Required to read and update channel and program information in TvProvider. -->
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA"/>
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA"/>

    <!-- Required to use the android AccountManager -->
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <!-- Required for Syncing Data -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Expose this app in the store only to devices with leanback UI framework -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true"/>

    <!--
         Expose this app in the store only to devices with the TV input framework
         and the TV app
    -->
    <uses-feature
        android:name="android.software.live_tv"
        android:required="true"/>

    <!--
         In order to be visible for Android TV devices in the store, we MUST declare touchscreen
         as optional
    -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:banner="@drawable/banner"
        android:icon="@mipmap/ic_tv_service"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">

        <!-- Redirects the user to the Input Setup (on N+) or Live Channels app (pre-N) -->
        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/ic_tv_service"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--
             Launched by the TV app before it uses RichTvInputService. This registers channels and
             sets up SyncJobService to provide program information in the background.
        -->
        <activity
            android:name=".setup.TvInputSetupActivity"
            android:exported="true"
            android:icon="@mipmap/ic_tv_service"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:theme="@style/Theme.Preferences">
        </activity>

        <service
            android:name=".tvinput.TvInputService"
            android:icon="@mipmap/ic_tv_service"
            android:permission="android.permission.BIND_TV_INPUT">

            <!-- Required filter used by the system to launch our TV service. -->
            <intent-filter>
                <action android:name="android.media.tv.TvInputService"/>
            </intent-filter>

            <!--
                 An XML file which describes this input. This provides pointers to the
                 TvInputSetupActivity to the system/TV app.
            -->
            <meta-data
                android:name="android.media.tv.input"
                android:resource="@xml/tvinputservice"/>
        </service>

        <activity
            android:name=".account.AuthenticatorActivity"
            android:label="@string/title_activity_authenticator"/>

        <service
            android:name=".account.AuthenticatorService"
            android:permission="android.permission.ACCOUNT_MANAGER">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticatorservice"/>
        </service>

        <!-- This service is for syncing Channel and EPG data -->
        <service
            android:name=".sync.EpgSyncService"
            android:enabled="true">
            <!--android:process=":sync"-->
        </service>

        <!-- This receiver is needed for home screen recommendations -->
        <receiver
            android:name=".BootCompletedReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>